/* TopBar.css */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE;
    color: #fff;
    padding: 10px 20px;
    color: #A1A1A1;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.26px;
  }
  .search-box{
    display: flex;
width: 100px;
padding: 6px 300px 6px 25px;
align-items: center;
border-radius: 15px;
background: #FFF;
margin-top: 20px;
margin-left: 10px;
  }
  .search-box input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    
  }
  
  .notifications-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
  }
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .icon-profile {
    color:#4C78BB;
    width: 50px;
    height: 30px;
    fill:#4C78BB;
    bottom: 10px;;
 
  }
 
  
  .username {
    color: #252525;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.26px;
    margin-left: 0px;
    margin-right: 45px;
  }
  
  .additional-items {
    display: flex;
    align-items: center;
  }
  .user{
    margin-right: 200px;
  }
  
  .item {
    margin-bottom: 0px; /* Adjust this margin as needed to control the spacing between items */
  }
  .contain{
    margin-top: auto; 
  }
  /* Pagination.css */
.pagination {
  display: flex;
  justify-content: flex-end; /* Align to the right end */
  list-style: none;
  padding: 0;
  margin-right: 1150px; /* Adjust the margin as needed to move it to the left */
}


.pagination li {
  margin: 0 2px; /* Adjust the spacing as needed */
}

.pagination a {
  text-decoration: none;
}

.page-link {
  display: inline-block;
  padding: 1px 5px; /* Adjust the padding to change the size of the box */
  border: 1px solid #333; /* Border around the page numbers */
  border-radius: 2px; /* Round the corners of the box */
  margin: 0 1px; /* Adjust the spacing around each page number */
  text-align: center;
  cursor: pointer;
}

.page-link:hover,
.page-link:active,
.page-link:focus {
  background-color: lightskyblue; /* Change the background color to blue on hover, active, and focus */
  color: black; /* Change the text color to white on hover, active, and focus */
}
.label-with-select {
  margin-right: 10px; /* Adjust the margin as needed for the desired spacing */
}
